<tr id="edit-genre">
  <td colspan=12>
		<%= form_for(@genre, html: {class: "form-inline"}, remote: true) do |f| %>
			<div class="form-group col-sm-6">
			  <%= f.label "Edit" %>
			  <%= f.label :name %>
			  <%= f.text_field :name, class: "form-control", placeholder: @genre.name %>
			</div>
			<%= f.submit "Save", class: "btn" %>
		<% end %>
  </td>
</tr>