<%= form_for(@genre, html: {class: "form-inline new-genre"}, remote: true) do |f| %>
  <tr class="new-genre">
    <td>New Genre</td>
    <div class="form-group">
      <td><%= f.label :name, id="Name" %></td>
      <td><%= f.text_field :name, class: "form-control" %></td>
    </div>
    <td>
      <%= f.submit "Add", class: "btn" %>
    </td>
  </tr>

  <% if @genre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@genre.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @genre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
