<div class="container">
<div class="row text-center">
  <p id="notice"><%= notice %></p>
</div>

<div class="row text-center">
  <h1>Listing Genres</h1>
  <br>
</div>

<div class="row">
<div class="jumbotron-index col-sm-10 col-sm-offset-1">
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody id="genres">
    <% @genres.each do |genre| %>
      <tr>
        <td><%= genre.id %></td>
        <td><%= genre.name %></td>
        <td>
          <%= link_to 'Edit', edit_genre_path(genre), class: "btn" %>
          <%= link_to 'Delete', genre, method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: "btn delete_genre" %>
        </td>
      </tr>
    <% end %>
      <tr>
        <%= form_for(@genre, html: {class: "form-inline"}, remote: true) do |f| %>
          <td>New Genre</td>
          <td class="form-group">
            <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
          </td>
          <td>
            <%= f.submit "Add", class: "btn" %>
          </td>
        <% end %>
      </tr>
  </tbody>
</table>
</div>
</div>

<br>

</div>
