<div class="container">
	<div class="admin-row show-movie">
		<div class="col-sm-8">
			<img class="img-responsive" src="<%= @movie.photo %>">
		</div>
		<div class="col-sm-8">
			<h2><%= @movie.title %></h2>
			<p><%= @movie.summary %></p>
			<span><%= @movie.year %></span>
			<span><%= @movie.rating %></span>
			<span><%= @movie.length %></span>
		</div>
	</div>
	<br>
	<br>
</div>
