<% @genres.each do |genre| %>
  <div class="row carousel-row">
    <% if genre.name == "Action" %>
      <h3>
        <a href=<%= genre_path(genre) %>>Action &amp; Adventure<i class="fa fa-chevron-right"></i></a>
      </h3>
    <% else %>
      <h3>
        <a href=<%= genre_path(genre) %>><%= genre.name %><i class="fa fa-chevron-right"></i></a>
      </h3>
    <% end %>
    <div class="slider-<%= genre.name %>">
      <div class="border-left"></div>
      <div class="border-right"></div>
      <ul>
        <% @movie_ids = genre.movie_ids %>
        <% i = 0 %>
        <% index = 1 %>
        <% while @movie_ids[i] %>
          <% count = 0 %>
          <li class="auto-width">
            <% while count < 5 %>
              <% @movie = Movie.find( @movie_ids[i] ) %>
              <% if i < @movie_ids.length - 1 %>
                <div class="poster poster-<%= index %>">
                  <%= link_to image_tag(@movie.photo, class: "img-responsive"), movie_path(@movie) %>
                </div>
                <% i += 1 %>
                <% index += 1 %>
                <% count += 1 %>
              <% elsif i == @movie_ids.length - 1 %>
                <div class="poster poster-<%= index %>">
                  <%= link_to image_tag(@movie.photo, class: "img-responsive"), movie_path(@movie) %>
                </div>
                <% i += 1 %>
                <% break %>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
