<div class="jumbotron">
  <div class="container">
    <div class="main">
      <h1>Watch your favorite movies, instantly.</h1>
      <a class="btn btn-default" href="pages/about">Learn More</a>

      <%= form_tag(movies_path, method: "get", id: "search-form", class: "form-inline", role: "form") do %> 
        <div class="form-group">
          <%= text_field_tag(:search, params[:search], class: "form-control search", placeholder: "Browse the collection") %>
        </div>
        <%= submit_tag "Search", name: nil, class: "btn btn-submit" %>
      <% end %>
      
    </div>
  </div>
</div>

<div class="supporting">
  <div class="container">
    <h2>A world of movies at your fingertips.</h2>
    <p>Choose from the latest titles, with new movies added every day.</p>
    
    <% i = 0 %>
    <% arr = [] %>
    <% movies = [] %>
    <% movieIds = [] %>
    <% for movie in @movies %>
      <% img = Magick::Image.ping("#{Rails.root}/public#{movie.photo}").first %>
      <% width = img.columns %>
      <% if width > 600 %>
        <% i += 2 %>
        <% arr.push(2) %>
        <% movies.push(movie.photo) %>
        <% movieIds.push(movie.id) %>
      <% else %>
        <% i += 1 %>
        <% arr.push(1) %>
        <% movies.push(movie.photo) %>
        <% movieIds.push(movie.id) %>
      <% end %>
      <% if i == 3 %>
        <div class="row">
        <% j = 0 %>
        <% for e in movies %>
          <% if arr[j] == 2 %>
            <div class="col-md-8">
              <div class="thumbnail">
                <%= link_to image_tag(e), movie_path(movieIds[j]) %>
              </div>
            </div>
          <% elsif arr[j] == 1 %>
            <div class="col-md-4">
              <div class="thumbnail">
                <%= link_to image_tag(e), movie_path(movieIds[j]) %>
              </div>
            </div>
          <% end %>
          <% j += 1 %>
        <% end %>
        </div>
        <% i = 0 %>
        <% arr = [] %>
        <% movies = [] %>
        <% movieIds = [] %>
      <% end %>
    <% end %>

  </div>
</div>

<div class="feature">
  <div class="container">
    <h1>Available everywhere</h1>
    <p>Start watching on one device, and pick up where you left off on another device.</p>
  </div>
</div>
